* {
  font-family: "Poppins", sans-serif;
  margin: 0%;
  padding: 0%;
}

/* Welcome Page */
.container-welcome {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-contentWelcome {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.welcome-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-welcome {
  width: 40%;
}

.logo {
  width: 30%;
}

.container-welcomeButton {
  width: 50%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.welcome-button {
  width: 50%;
  height: 20%;
  border-radius: 10px;
  border-style: none;
  cursor: pointer;
  color: aliceblue;
  background-color: #ff9806;
  transition: transform 0.2s ease;
}

.welcome-button:hover {
  transform: scale(1.2);
}
/* End Welcome Page */

@media screen and (max-width: 768px) {
  .container-contentWelcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .img-welcome {
    width: 80%;
  }

  .logo {
    width: 50%;
  }

  .welcome-button {
    width: 70%;
    height: 30%;
  }
}
